In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
def read_and_concatenate(path, low, high):
    
    '''
    takes in csv files the range of numbers at the end of the csv files and returns
    an appended data frame
    
    input:
        path - the file path with a number for each csv
        low - lowest path number
        high - highest path number
        
    output:
        concatenated dataframe
    '''
    
    df_list = []
    for i in range(low,high+1):
        df_list.append(pd.read_csv(path.format(i)))

    concated = pd.concat(df_list)

    return concated

data = read_and_concatenate('data/book_data_{}.csv',1,16)

data

,Unnamed: 0,rank,title,author,format,pages,rating,score,votes,release_date,new_release_date
0,0,1,To Kill a Mockingbird,Harper Lee,Paperback,324 pages,"4.28 avg rating — 4,501,075 ratings","score: 2,314,743","23,465 people voted",(first published July 11th 1960),Published\n May 23rd 2006\n by ...
1,1,2,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,Hardcover,309 pages,"4.47 avg rating — 7,049,026 ratings","score: 1,776,963","18,119 people voted",(first published June 26th 1997),Published\n November 1st 2003\n ...
2,2,3,1984,George Orwell,Kindle Edition,237 pages,"4.19 avg rating — 3,140,442 ratings","score: 1,645,480","16,814 people voted",(first published June 8th 1949),Published\n September 3rd 2013\n ...
3,3,4,Pride and Prejudice,Jane Austen,Paperback,279 pages,"4.26 avg rating — 2,998,241 ratings","score: 1,417,523","14,515 people voted",(first published January 28th 1813),Published\n October 10th 2000\n ...
4,4,5,The Diary of a Young Girl,Anne Frank,Mass Market Paperback,283 pages,"4.15 avg rating — 2,741,166 ratings","score: 1,349,093","13,817 people voted",(first published June 25th 1947),Published\n July 1993\n by Bant...
...,...,...,...,...,...,...,...,...,...,...,...
395,395,5994,"Lady of Avalon (Avalon, #3)",Marion Zimmer Bradley,Paperback,460 pages,"3.90 avg rating — 16,190 ratings",score: 171,2 people voted,(first published 1982),Published\n May 1st 1998\n by R...
396,396,5994,Legs,William Kennedy,Paperback,320 pages,"3.80 avg rating — 1,654 ratings",score: 171,2 people voted,(first published May 28th 1975),Published\n January 27th 1983\n ...
397,397,5994,Washington: A Life,Ron Chernow,Hardcover,928 pages,"4.10 avg rating — 54,132 ratings",score: 171,2 people voted,(first published January 5th 2010),Published\n October 5th 2010\n ...
398,398,5994,"Renegade (The Elysium Chronicles, #1)",J.A. Souders,Hardcover,364 pages,"3.75 avg rating — 3,794 ratings",score: 171,2 people voted,(first published August 20th 2012),Published\n November 13th 2012\n ...
399,399,5994,"Tithe (Modern Faerie Tales, #1)",Holly Black,Paperback,332 pages,"3.72 avg rating — 77,734 ratings",score: 171,2 people voted,(first published October 1st 2002),Published\n April 2004\n by Sim...

In [32]:
# drop the Unnamed column
data = data.drop(columns=['Unnamed: 0'])
# data

In [33]:
def split_front_number(x):
    '''
    will be used with .apply to split out numbers at the front of each data column
    (could also do this with a lambda function)
    
    input:
        
        
    output:
        first value of a list which is the desired number
    '''
    
    
    return x.split(' ')[0]

data['rating'] = data.rating.apply(split_front_number)
data['votes'] = data.votes.apply(split_front_number)
# data['pages'] = data.pages.apply(split_number)


data

,rank,title,author,format,pages,rating,score,votes,release_date,new_release_date
0,1,To Kill a Mockingbird,Harper Lee,Paperback,324 pages,4.28,"score: 2,314,743","23,465",(first published July 11th 1960),Published\n May 23rd 2006\n by ...
1,2,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,Hardcover,309 pages,4.47,"score: 1,776,963","18,119",(first published June 26th 1997),Published\n November 1st 2003\n ...
2,3,1984,George Orwell,Kindle Edition,237 pages,4.19,"score: 1,645,480","16,814",(first published June 8th 1949),Published\n September 3rd 2013\n ...
3,4,Pride and Prejudice,Jane Austen,Paperback,279 pages,4.26,"score: 1,417,523","14,515",(first published January 28th 1813),Published\n October 10th 2000\n ...
4,5,The Diary of a Young Girl,Anne Frank,Mass Market Paperback,283 pages,4.15,"score: 1,349,093","13,817",(first published June 25th 1947),Published\n July 1993\n by Bant...
...,...,...,...,...,...,...,...,...,...,...
395,5994,"Lady of Avalon (Avalon, #3)",Marion Zimmer Bradley,Paperback,460 pages,3.90,score: 171,2,(first published 1982),Published\n May 1st 1998\n by R...
396,5994,Legs,William Kennedy,Paperback,320 pages,3.80,score: 171,2,(first published May 28th 1975),Published\n January 27th 1983\n ...
397,5994,Washington: A Life,Ron Chernow,Hardcover,928 pages,4.10,score: 171,2,(first published January 5th 2010),Published\n October 5th 2010\n ...
398,5994,"Renegade (The Elysium Chronicles, #1)",J.A. Souders,Hardcover,364 pages,3.75,score: 171,2,(first published August 20th 2012),Published\n November 13th 2012\n ...
399,5994,"Tithe (Modern Faerie Tales, #1)",Holly Black,Paperback,332 pages,3.72,score: 171,2,(first published October 1st 2002),Published\n April 2004\n by Sim...

In [230]:
# THIS ONE DOESN'T WORK - SOMETHING IS GOING ON WITH THE SCORE VARIABLE

# def split_back_number(x):
#     '''
#     will be used with .apply to split out numbers at the back of each data column
#     (could also do this with a lambda function)
    
#     input:
        
        
#     output:
#         second value of a list which is the desired number
#     '''
    
    
#     return x.split(' ')[0]

# data['score'] = data.score.apply(split_back_number)

# data

IndexError: list index out of range

In [34]:
# when ratings fall right on a number they are prefixed by phrase, this replaces that with just a number
# and makes the rating column numeric

# CHECK HERE - WHAT TO DO ABOUT THE 'IT'
# 'IT' COULD ALSO BE 2.00 but haven't found any, but having more books with few ratings lead to the 5 increase
# decide how to deal with

data['rating'] = data['rating'].replace('it', '5.00')
data['rating'] = data['rating'].replace('really', '4.00')
data['rating'] = data['rating'].replace('liked', '3.00')
data['rating'] = data['rating'].replace("didn't", '1.00')

data[["rating"]] = data[["rating"]].apply(pd.to_numeric)
data

,rank,title,author,format,pages,rating,score,votes,release_date,new_release_date
0,1,To Kill a Mockingbird,Harper Lee,Paperback,324 pages,4.28,"score: 2,314,743","23,465",(first published July 11th 1960),Published\n May 23rd 2006\n by ...
1,2,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,Hardcover,309 pages,4.47,"score: 1,776,963","18,119",(first published June 26th 1997),Published\n November 1st 2003\n ...
2,3,1984,George Orwell,Kindle Edition,237 pages,4.19,"score: 1,645,480","16,814",(first published June 8th 1949),Published\n September 3rd 2013\n ...
3,4,Pride and Prejudice,Jane Austen,Paperback,279 pages,4.26,"score: 1,417,523","14,515",(first published January 28th 1813),Published\n October 10th 2000\n ...
4,5,The Diary of a Young Girl,Anne Frank,Mass Market Paperback,283 pages,4.15,"score: 1,349,093","13,817",(first published June 25th 1947),Published\n July 1993\n by Bant...
...,...,...,...,...,...,...,...,...,...,...
395,5994,"Lady of Avalon (Avalon, #3)",Marion Zimmer Bradley,Paperback,460 pages,3.90,score: 171,2,(first published 1982),Published\n May 1st 1998\n by R...
396,5994,Legs,William Kennedy,Paperback,320 pages,3.80,score: 171,2,(first published May 28th 1975),Published\n January 27th 1983\n ...
397,5994,Washington: A Life,Ron Chernow,Hardcover,928 pages,4.10,score: 171,2,(first published January 5th 2010),Published\n October 5th 2010\n ...
398,5994,"Renegade (The Elysium Chronicles, #1)",J.A. Souders,Hardcover,364 pages,3.75,score: 171,2,(first published August 20th 2012),Published\n November 13th 2012\n ...
399,5994,"Tithe (Modern Faerie Tales, #1)",Holly Black,Paperback,332 pages,3.72,score: 171,2,(first published October 1st 2002),Published\n April 2004\n by Sim...

In [35]:
# turn votes category numeric

data["votes"] = data["votes"].str.replace(",","")
data[["votes"]] = data[["votes"]].apply(pd.to_numeric)

In [36]:
# add variable to divide the rankings in half
data['high_rank'] = np.where(data['rank'] < (len(data['rank']) / 2), 1, 0)
# data

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6000 entries, 0 to 399
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rank              6000 non-null   int64
 1   title             6000 non-null   object
 2   author            6000 non-null   object
 3   format            5878 non-null   object
 4   pages             5775 non-null   object
 5   rating            6000 non-null   float64
 6   score             6000 non-null   object
 7   votes             6000 non-null   int64
 8   release_date      3844 non-null   object
 9   new_release_date  5920 non-null   object
 10  high_rank         6000 non-null   int64
dtypes: float64(1), int64(3), object(7)
memory usage: 562.5+ KB

In [38]:
data.describe()

              rank       rating         votes    high_rank
count  6000.000000  6000.000000   6000.000000  6000.000000
mean   2991.469833     4.073883    117.580167     0.500833
std    1723.001062     0.305470    775.613672     0.500041
min       1.000000     0.000000      1.000000     0.000000
25%    1500.000000     3.890000      3.000000     0.000000
50%    2998.000000     4.080000      5.000000     1.000000
75%    4498.000000     4.250000     16.000000     1.000000
max    5994.000000     5.000000  23465.000000     1.000000

In [26]:
data

,rank,title,author,format,pages,rating,score,votes,release_date,new_release_date
0,1,To Kill a Mockingbird,Harper Lee,Paperback,324 pages,4.28,"score: 2,314,743",23465,(first published July 11th 1960),Published\n May 23rd 2006\n by ...
1,2,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,Hardcover,309 pages,4.47,"score: 1,776,963",18119,(first published June 26th 1997),Published\n November 1st 2003\n ...
2,3,1984,George Orwell,Kindle Edition,237 pages,4.19,"score: 1,645,480",16814,(first published June 8th 1949),Published\n September 3rd 2013\n ...
3,4,Pride and Prejudice,Jane Austen,Paperback,279 pages,4.26,"score: 1,417,523",14515,(first published January 28th 1813),Published\n October 10th 2000\n ...
4,5,The Diary of a Young Girl,Anne Frank,Mass Market Paperback,283 pages,4.15,"score: 1,349,093",13817,(first published June 25th 1947),Published\n July 1993\n by Bant...
...,...,...,...,...,...,...,...,...,...,...
395,5994,"Lady of Avalon (Avalon, #3)",Marion Zimmer Bradley,Paperback,460 pages,3.90,score: 171,2,(first published 1982),Published\n May 1st 1998\n by R...
396,5994,Legs,William Kennedy,Paperback,320 pages,3.80,score: 171,2,(first published May 28th 1975),Published\n January 27th 1983\n ...
397,5994,Washington: A Life,Ron Chernow,Hardcover,928 pages,4.10,score: 171,2,(first published January 5th 2010),Published\n October 5th 2010\n ...
398,5994,"Renegade (The Elysium Chronicles, #1)",J.A. Souders,Hardcover,364 pages,3.75,score: 171,2,(first published August 20th 2012),Published\n November 13th 2012\n ...
399,5994,"Tithe (Modern Faerie Tales, #1)",Holly Black,Paperback,332 pages,3.72,score: 171,2,(first published October 1st 2002),Published\n April 2004\n by Sim...

In [39]:
data.to_csv('data/data_set.csv')