In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
def read_and_concatenate(path, low, high):
    
    '''
    takes in csv files the range of numbers at the end of the csv files and returns
    an appended data frame
    
    input:
        path - the file path with a number for each csv
        low - lowest path number
        high - highest path number
        
    output:
        concatenated dataframe
    '''
    
    df_list = []
    for i in range(low,high+1):
        df_list.append(pd.read_csv(path.format(i)))

    concated = pd.concat(df_list)

    return concated

data = read_and_concatenate('data/book_data_{}.csv',1,21)

data

,Unnamed: 0,rank,title,author,format,pages,rating,score,votes,release_date,new_release_date
0,0,1,To Kill a Mockingbird,Harper Lee,Paperback,324 pages,"4.28 avg rating — 4,501,075 ratings","score: 2,314,743","23,465 people voted",(first published July 11th 1960),Published\n May 23rd 2006\n by ...
1,1,2,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,Hardcover,309 pages,"4.47 avg rating — 7,049,026 ratings","score: 1,776,963","18,119 people voted",(first published June 26th 1997),Published\n November 1st 2003\n ...
2,2,3,1984,George Orwell,Kindle Edition,237 pages,"4.19 avg rating — 3,140,442 ratings","score: 1,645,480","16,814 people voted",(first published June 8th 1949),Published\n September 3rd 2013\n ...
3,3,4,Pride and Prejudice,Jane Austen,Paperback,279 pages,"4.26 avg rating — 2,998,241 ratings","score: 1,417,523","14,515 people voted",(first published January 28th 1813),Published\n October 10th 2000\n ...
4,4,5,The Diary of a Young Girl,Anne Frank,Mass Market Paperback,283 pages,"4.15 avg rating — 2,741,166 ratings","score: 1,349,093","13,817 people voted",(first published June 25th 1947),Published\n July 1993\n by Bant...
...,...,...,...,...,...,...,...,...,...,...,...
795,795,6990,Hikari Okami: Kitsune Series,Lolah Runda,Paperback,36 pages,3.67 avg rating — 9 ratings,score: 100,1 person voted,NaN,Published\n August 27th 2015\n ...
796,796,6990,A Carpet of Purple Flowers,Tracey-anne McCartney,Paperback,360 pages,4.10 avg rating — 51 ratings,score: 100,1 person voted,NaN,Published\n October 17th 2015\n ...
797,797,6990,Practical Poems For Everyday Use: Poetry With ...,Madeline Lee,Kindle Edition,68 pages,it was amazing 5.00 avg rating — 3 ratings,score: 100,1 person voted,NaN,Published\n October 27th 2015
798,798,6990,"The Tao of Twitter, Revised and Expanded New E...",Mark W. Schaefer,ebook,224 pages,4.17 avg rating — 66 ratings,score: 100,1 person voted,NaN,Published\n August 1st 2014\n b...
799,799,6990,"""Mud Marbles""",Tolar Miles,Paperback,164 pages,really liked it 4.00 avg rating — 11 ratings,score: 100,1 person voted,NaN,Published\n October 20th 2014\n ...

In [18]:
# drop the Unnamed column
data = data.drop(columns=['Unnamed: 0'])
# data

In [19]:
def split_cols_by_space(x):
    '''
    will be used with .apply to split out numbers from columns
    (could also do this with a lambda function)
    
    input:
        
        
    output:
        specified values of a list which is the desired number
    '''
    
    if x.split(' ')[0] == 'didn\'t':
        return x.split(' ')[3]    
    
    elif x.split(' ')[0] == 'it':
        return x.split(' ')[3]
    
    elif x.split(' ')[0] == 'really':
        return x.split(' ')[3]
    
    elif x.split(' ')[0] == 'liked':
        return x.split(' ')[2]
    
#     elif x.split(' ')[0] == 'no':
#         return float("nan")
    
    else:
        return x.split(' ')[0]
    
def split_cols_by_big_hyphen(x):
    return x.split(' — ')[1]

In [20]:
# splits out number from votes column
data['votes']= data.votes.apply(split_cols_by_space)

# splits out number and creates new rating column
data['rating_1'] = data.rating.apply(split_cols_by_space)

# splits out number of ratings from rating column and creates cnt_ratings column
data['cnt_ratings'] = data.rating.apply(split_cols_by_big_hyphen)
data['cnt_ratings'] = data.cnt_ratings.apply(split_cols_by_space)

# makes rating column just the rating value and drops rating_1
data['rating'] = data['rating_1']
data = data.drop(columns=['rating_1'])


# data['pages'] = data.pages.apply(split_cols_by_space)
    

data

,rank,title,author,format,pages,rating,score,votes,release_date,new_release_date,cnt_ratings
0,1,To Kill a Mockingbird,Harper Lee,Paperback,324 pages,4.28,"score: 2,314,743","23,465",(first published July 11th 1960),Published\n May 23rd 2006\n by ...,"4,501,075"
1,2,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,Hardcover,309 pages,4.47,"score: 1,776,963","18,119",(first published June 26th 1997),Published\n November 1st 2003\n ...,"7,049,026"
2,3,1984,George Orwell,Kindle Edition,237 pages,4.19,"score: 1,645,480","16,814",(first published June 8th 1949),Published\n September 3rd 2013\n ...,"3,140,442"
3,4,Pride and Prejudice,Jane Austen,Paperback,279 pages,4.26,"score: 1,417,523","14,515",(first published January 28th 1813),Published\n October 10th 2000\n ...,"2,998,241"
4,5,The Diary of a Young Girl,Anne Frank,Mass Market Paperback,283 pages,4.15,"score: 1,349,093","13,817",(first published June 25th 1947),Published\n July 1993\n by Bant...,"2,741,166"
...,...,...,...,...,...,...,...,...,...,...,...
795,6990,Hikari Okami: Kitsune Series,Lolah Runda,Paperback,36 pages,3.67,score: 100,1,NaN,Published\n August 27th 2015\n ...,9
796,6990,A Carpet of Purple Flowers,Tracey-anne McCartney,Paperback,360 pages,4.10,score: 100,1,NaN,Published\n October 17th 2015\n ...,51
797,6990,Practical Poems For Everyday Use: Poetry With ...,Madeline Lee,Kindle Edition,68 pages,5.00,score: 100,1,NaN,Published\n October 27th 2015,3
798,6990,"The Tao of Twitter, Revised and Expanded New E...",Mark W. Schaefer,ebook,224 pages,4.17,score: 100,1,NaN,Published\n August 1st 2014\n b...,66
799,6990,"""Mud Marbles""",Tolar Miles,Paperback,164 pages,4.00,score: 100,1,NaN,Published\n October 20th 2014\n ...,11

In [230]:
# THIS ONE DOESN'T WORK - SOMETHING IS GOING ON WITH THE SCORE VARIABLE

# def split_back_number(x):
#     '''
#     will be used with .apply to split out numbers at the back of each data column
#     (could also do this with a lambda function)
    
#     input:
        
        
#     output:
#         second value of a list which is the desired number
#     '''
    
    
#     return x.split(' ')[0]

# data['score'] = data.score.apply(split_back_number)

# data

IndexError: list index out of range

In [21]:
# make rating category numeric
data[["rating"]] = data[["rating"]].apply(pd.to_numeric)

# make cnt_ratings category numeric
data["cnt_ratings"] = data["cnt_ratings"].str.replace(",","")
data[["cnt_ratings"]] = data[["cnt_ratings"]].apply(pd.to_numeric)

# make votes category numeric
data["votes"] = data["votes"].str.replace(",","")
data[["votes"]] = data[["votes"]].apply(pd.to_numeric)

data

,rank,title,author,format,pages,rating,score,votes,release_date,new_release_date,cnt_ratings
0,1,To Kill a Mockingbird,Harper Lee,Paperback,324 pages,4.28,"score: 2,314,743",23465,(first published July 11th 1960),Published\n May 23rd 2006\n by ...,4501075
1,2,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,Hardcover,309 pages,4.47,"score: 1,776,963",18119,(first published June 26th 1997),Published\n November 1st 2003\n ...,7049026
2,3,1984,George Orwell,Kindle Edition,237 pages,4.19,"score: 1,645,480",16814,(first published June 8th 1949),Published\n September 3rd 2013\n ...,3140442
3,4,Pride and Prejudice,Jane Austen,Paperback,279 pages,4.26,"score: 1,417,523",14515,(first published January 28th 1813),Published\n October 10th 2000\n ...,2998241
4,5,The Diary of a Young Girl,Anne Frank,Mass Market Paperback,283 pages,4.15,"score: 1,349,093",13817,(first published June 25th 1947),Published\n July 1993\n by Bant...,2741166
...,...,...,...,...,...,...,...,...,...,...,...
795,6990,Hikari Okami: Kitsune Series,Lolah Runda,Paperback,36 pages,3.67,score: 100,1,NaN,Published\n August 27th 2015\n ...,9
796,6990,A Carpet of Purple Flowers,Tracey-anne McCartney,Paperback,360 pages,4.10,score: 100,1,NaN,Published\n October 17th 2015\n ...,51
797,6990,Practical Poems For Everyday Use: Poetry With ...,Madeline Lee,Kindle Edition,68 pages,5.00,score: 100,1,NaN,Published\n October 27th 2015,3
798,6990,"The Tao of Twitter, Revised and Expanded New E...",Mark W. Schaefer,ebook,224 pages,4.17,score: 100,1,NaN,Published\n August 1st 2014\n b...,66
799,6990,"""Mud Marbles""",Tolar Miles,Paperback,164 pages,4.00,score: 100,1,NaN,Published\n October 20th 2014\n ...,11

In [22]:
# create indicator for has at least 10 ratings
data['sufficient_ratings'] = np.where((data['cnt_ratings'] >= 10), 1, 0)
# create indicator for has at least 2 votes
data['sufficient_votes'] = np.where((data['votes'] > 1), 1, 0)
# create indicator for has at least 10 ratings and at least 2 votes
data['sufficient_data'] = np.where((data['sufficient_ratings'] == 1) & (data['sufficient_votes'] ==1), 1, 0)
data.head()
data.tail()

,rank,title,author,format,pages,rating,score,votes,release_date,new_release_date,cnt_ratings,sufficient_ratings,sufficient_votes,sufficient_data
795,6990,Hikari Okami: Kitsune Series,Lolah Runda,Paperback,36 pages,3.67,score: 100,1,NaN,Published\n August 27th 2015\n ...,9,0,0,0
796,6990,A Carpet of Purple Flowers,Tracey-anne McCartney,Paperback,360 pages,4.10,score: 100,1,NaN,Published\n October 17th 2015\n ...,51,1,0,0
797,6990,Practical Poems For Everyday Use: Poetry With ...,Madeline Lee,Kindle Edition,68 pages,5.00,score: 100,1,NaN,Published\n October 27th 2015,3,0,0,0
798,6990,"The Tao of Twitter, Revised and Expanded New E...",Mark W. Schaefer,ebook,224 pages,4.17,score: 100,1,NaN,Published\n August 1st 2014\n b...,66,1,0,0
799,6990,"""Mud Marbles""",Tolar Miles,Paperback,164 pages,4.00,score: 100,1,NaN,Published\n October 20th 2014\n ...,11,1,0,0

In [23]:
# add variable to divide the overall rankings in half
data['high_rank'] = np.where(data['rank'] < (len(data['rank']) / 2), 1, 0)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8800 entries, 0 to 799
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   rank                8800 non-null   int64
 1   title               8800 non-null   object
 2   author              8800 non-null   object
 3   format              8624 non-null   object
 4   pages               8396 non-null   object
 5   rating              8800 non-null   float64
 6   score               8800 non-null   object
 7   votes               8800 non-null   int64
 8   release_date        5380 non-null   object
 9   new_release_date    8698 non-null   object
 10  cnt_ratings         8800 non-null   int64
 11  sufficient_ratings  8800 non-null   int64
 12  sufficient_votes    8800 non-null   int64
 13  sufficient_data     8800 non-null   int64
 14  high_rank           8800 non-null   int64
dtypes: float64(1), int64(7), object(7)
memory usage: 1.1+ MB

In [25]:
data.describe()

,rank,rating,votes,cnt_ratings,sufficient_ratings,sufficient_votes,sufficient_data,high_rank
count,8800.000000,8800.000000,8800.000000,8.800000e+03,8800.000000,8800.000000,8800.000000,8800.000000
mean,4207.279318,4.070920,80.614318,7.756674e+04,0.934886,0.795455,0.783523,0.500455
std,2284.633324,0.379273,642.707328,2.765112e+05,0.246740,0.403392,0.411867,0.500028
min,1.000000,0.000000,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,2200.000000,3.880000,2.000000,2.220000e+02,1.000000,1.000000,1.000000,0.000000
50%,4398.000000,4.080000,3.000000,1.126000e+04,1.000000,1.000000,1.000000,1.000000
75%,6589.000000,4.270000,8.000000,5.740775e+04,1.000000,1.000000,1.000000,1.000000
max,6990.000000,5.000000,23465.000000,7.049026e+06,1.000000,1.000000,1.000000,1.000000

In [26]:
data

,rank,title,author,format,pages,rating,score,votes,release_date,new_release_date,cnt_ratings,sufficient_ratings,sufficient_votes,sufficient_data,high_rank
0,1,To Kill a Mockingbird,Harper Lee,Paperback,324 pages,4.28,"score: 2,314,743",23465,(first published July 11th 1960),Published\n May 23rd 2006\n by ...,4501075,1,1,1,1
1,2,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,Hardcover,309 pages,4.47,"score: 1,776,963",18119,(first published June 26th 1997),Published\n November 1st 2003\n ...,7049026,1,1,1,1
2,3,1984,George Orwell,Kindle Edition,237 pages,4.19,"score: 1,645,480",16814,(first published June 8th 1949),Published\n September 3rd 2013\n ...,3140442,1,1,1,1
3,4,Pride and Prejudice,Jane Austen,Paperback,279 pages,4.26,"score: 1,417,523",14515,(first published January 28th 1813),Published\n October 10th 2000\n ...,2998241,1,1,1,1
4,5,The Diary of a Young Girl,Anne Frank,Mass Market Paperback,283 pages,4.15,"score: 1,349,093",13817,(first published June 25th 1947),Published\n July 1993\n by Bant...,2741166,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,6990,Hikari Okami: Kitsune Series,Lolah Runda,Paperback,36 pages,3.67,score: 100,1,NaN,Published\n August 27th 2015\n ...,9,0,0,0,0
796,6990,A Carpet of Purple Flowers,Tracey-anne McCartney,Paperback,360 pages,4.10,score: 100,1,NaN,Published\n October 17th 2015\n ...,51,1,0,0,0
797,6990,Practical Poems For Everyday Use: Poetry With ...,Madeline Lee,Kindle Edition,68 pages,5.00,score: 100,1,NaN,Published\n October 27th 2015,3,0,0,0,0
798,6990,"The Tao of Twitter, Revised and Expanded New E...",Mark W. Schaefer,ebook,224 pages,4.17,score: 100,1,NaN,Published\n August 1st 2014\n b...,66,1,0,0,0
799,6990,"""Mud Marbles""",Tolar Miles,Paperback,164 pages,4.00,score: 100,1,NaN,Published\n October 20th 2014\n ...,11,1,0,0,0

In [27]:
data.to_csv('data/data_set.csv', index=False)